<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="cube-event-monitor.ZPM">
    <Module>
      <Name>cube-event-monitor</Name>
      <Version>0.1.8</Version>
      <Description>Tool for monitoring BI cube events and build errors</Description>
      <Dependencies>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="CubeEventMonitor.PKG"/>
      <Resource Name="DeepSee.TermList.GBL" />
      <Resource Name="*.DFI" />
      <Invokes>
        <Invoke Class="CubeEventMonitor.Utils" Method="Setup">
          <Arg></Arg>
          <Arg></Arg>
          <Arg></Arg>
          <Arg>"%Development"</Arg>
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
